.container {
    background-color:gainsboro;
    /* height:min-content; */
    width: 500px;
    /* margin-top: 10px;
    margin-bottom: 10px; */
    padding: 20px;
  }
  h1 {
    color:black;
    text-align: center;
    padding: 20px;
    font-weight: bold;  
  }
  #lbl { 
     font-size: 20px;
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }