<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <!-- <div class="container"> -->
            <div class="row">
                <div class="col-12 col-md-6">
                    <h1 style="color: #610a4c; text-align: center; padding-top:30%;">Privacy</h1>
                </div>
                <div class="col-12 col-md-6">
                    <h5>The policy applies to information we collect:</h5>
                    <ul>
                        <li>On this Website.</li>
                        <li>e­mail, text and other electronic messages between you and this Website.</li>
                        <li>you interact with our advertising and applications on third­party websites and services,
                            if those applications or advertising include links to this policy.</li>
                        <li>you post comments on our Website through social websites, such as, but not limited to,
                            Facebook.</li>
                    </ul><br>
                    <h5>Contact information:</h5>
                        <p>Ask questions or comment about this privacy policy and our privacy practices,
                            contact us at:</p>
                        <a href="/products">privacy@Grocery.com</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- </div> -->