<!-- <div class="list-group">
  <a [routerLink]="'/category/'+tempProductCategory.id" *ngFor="let tempProductCategory of productCategories" class="list-group-item" 
    routerLinkActive="text-black font-weight-bold">{{tempProductCategory.categoryName}}</a>
</div> -->

<div class="menu-sidebar-content js-scrollbar1">
  <nav class="navbar-sidebar">
      
      <ul class="list-unstyled navbar-list">

           <li *ngFor="let tempProductCategory of productCategory"> 
              

              <a routerLink="/category/{{ tempProductCategory.id}}" routerLinkActive="active-link">
                  {{tempProductCategory.categoryName }}
              </a>

          </li>
      
      </ul> 
  </nav>
</div> 
